<h1>Rock, Paper, Scissors</h1>


<section class="weapon_choice">

	<section class="player_gesture">
	<h4>Your choice was <%= @player_gesture %></h4>
	</section>
	<section class="computer_choice">
	<h4>Computer's choice was <%= @computer_gesture %></h4>
	</section><br>

	<h2>And the winner is...</h2>

	<h4><% if @result == "Player wins" %>
			<%= @name %> wins!
		<% elsif @result == "Computer wins" %>
			Computer wins!
		<% else @result == "Draw" %>
			It's a Draw!
		<% end %>
	</h4>

	</section>
	
	<a class="myButton" href="/start_game">Play again</a>
