<html>

	<head>
		<title>Rock Paper Scisscors</title>
		<link href='http://fonts.googleapis.com/css?family=Titan+One' rel='stylesheet' type='text/css'/>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700' rel='stylesheet' type='text/css'/>
		<link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
	</head>
	<center>
	<body>
	<%= yield %>

		<header>
		
			<nav>
			</nav>
		</header>

		<main>
		</main>
	
	</body>
	</center>
</html>