<html>

	<head>
		<title>Rock Paper Scisscors</title>
		<link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
	</head>
	<center>
	<body>
	<%= yield %>

		<header>
		
			<nav>
			</nav>
		</header>

		<main>
		</main>
	
	</body>
	</center>
</html>